@use "mixins.scss";

$chip-border-color: #0000ff;
$chip-background-color: rgb(249, 249, 249);
$chip-text-color: rgb(0, 0, 0);
$chip-font-size: 14px;
$chip-size: 40px;
$chip-border-width: 5px;

.chip {
  @include mixins.flexColumn;
  font-size: $chip-font-size;
  width: $chip-size;
  height: $chip-size;
  border-radius: 50%;
  font-weight: 700;
  border: 5px solid $chip-border-color;
  color: $chip-text-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: $chip-background-color;
  pointer-events: none;
}
