@import './variables.scss';
@import './mixins.scss';

.game {
  @include flexColumn;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;;
  justify-content: space-around;

  .header {
    height: 50px;
    position: absolute;
    width: 100%;
    top: 0px;
    left: 0px;
    @include flexRow;
    background: rgb(22,22,22);
  }

 


}