@use "mixins.scss";

$woncolor: rgb(22, 195, 89);
$wonFontSize: 2em;
$vsColor: rgb(212, 179, 127);
$vsFontSize: 1.5em;
$bettingStageTextColor: rgb(212, 179, 127);
$amountWonLabelColor: rgb(212, 179, 127);
$amountWonFontSize: 1.5em;
$winningsBaseFontSize: larger;
$winningsBaseFontWeight: 700;
$choicesFontSize: 1.5em;
$choicesFontWeight: 700;

.messages {
  @include mixins.flexRow;
  width: 100%;
  height: 30%;
  position: relative;
  .betting {
    color: $bettingStageTextColor;
    font-weight: 700;
    align-self: flex-end;
  }

  .playing {
    font-weight: $choicesFontWeight;
    @include mixins.flexRow;
    width: 50%;
    justify-content: space-around;
    font-size: $choicesFontSize;

    .vs {
      color: $vsColor;
      font-size: $vsFontSize;
    }

    .playerChoice,
    .computerChoice {
      font-size: $choicesFontSize;
      overflow: visible;
      text-align: center;
      transition: color 0.3s;
    }

    .computerChoice {
      width: 20%;
    }

    .playerChoices {
      @include mixins.flexColumn;
      width: 20%;
    }
  }

  .winnings {
    font-weight: $winningsBaseFontWeight;
    font-size: $winningsBaseFontSize;
    width: 50%;

    .won {
      color: $woncolor;
      font-size: $wonFontSize;
    }

    .amountWon {
      > span:nth-child(1) {
        color: $amountWonLabelColor;
      }

      > span:nth-child(2) {
        display: inline-block;
      }
      font-size: $amountWonFontSize;
    }
  }
}
