@use 'variables.scss';
@use 'mixins.scss';

.messages {
  @include mixins.flexRow;
  width: 100%;
  height: 30%;
  position: relative;
  .betting {
    color: rgb(212,179,127);
    font-weight: 700;
    align-self: flex-end;
  }

  .playing {
    font-weight: 700;
    @include mixins.flexRow;
    width: 50%;
    justify-content: space-around;
    font-size: larger;

    .vs{
      color: rgb(212,179,127);
      font-size: 1.5em;
    }

    .playerChoice, .computerChoice{
      font-size: 2em;
      min-width: 8ch;
      max-width: 8ch;
      overflow: visible;
      text-align: center;

      transition: color 0.3s;
    }

   
  }

   .winnings {
      font-weight: 700;
      font-size: larger;
      width: 50%;

      .won {
        color: rgb(22,195,89);
        font-size: 2em;
      }

      .amountWon {
        > span:nth-child(1) {
          color: rgb(212,179,127);
        }

        >span:nth-child(2) {
          display: inline-block;
        }
        font-size: 1.5em;
        
      } 

     
    }
}