@use "variables.scss";
@use "mixins.scss";

.play {
  width: 170px;
  height: 70px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
  border: 2px solid variables.$play-button-border;
  color: variables.$play-button-border;
  background: transparent;
  opacity: 0.5;
  transition: opacity 0.25s;
  @include mixins.flexColumn;

  > span {
    display: inline-block;
  }

  &.active {
    opacity: 0.7;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}
