@use "mixins.scss";

$play-button-border: #d4af37;
$play-button-text-color: #d4af37;
$font-size: 24px;
$font-weight: 700;
$height: 70px;
$width: 170px;
$borderWidth: 2px;
$opacity: 0.5;
$opacity-active: 0.7;
$opacity-hover: 1;

.play {
  width: $width;
  height: $height;
  border-radius: 50px;
  font-size: $font-size;
  font-weight: $font-weight;
  border: $borderWidth solid $play-button-border;
  color: $play-button-text-color;
  background: transparent;
  opacity: $opacity;
  transition: opacity 0.25s;
  @include mixins.flexColumn;

  > span {
    display: inline-block;
  }

  &.active {
    opacity: $opacity-active;
    cursor: pointer;

    &:hover {
      opacity: $opacity-hover;
    }
  }
}
