@use 'variables.scss';
@use 'mixins.scss';

 .squares {
    @include mixins.flexRow;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
    gap:25px;

    .square {
      @include mixins.flexColumn;
      font-size: 20px;
      width: 160px;
      height: 100px;
      border-radius: 5%;
      font-weight: 700;
      position: relative;
      user-select: none;

      &.betting {
        cursor: pointer;
      }

      &.rock {
        background-color: variables.$rock-button-bg;
        border: 2px solid variables.$rock-button-border;
        color: variables.$text-white;
      }

      &.paper {
        background-color: variables.$paper-button-bg;
        border: 2px solid variables.$paper-button-border;
        color: variables.$text-white;
      }

      &.scissors {
        background-color: variables.$scissors-button-bg;
        border: 2px solid variables.$scissors-button-border;
        color: variables.$text-white;
      }

    }
  }
